<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %tid %level{length=5} %logger{1} - %msg%n" />
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="mtas" level="INFO"/>
    <Logger name="de.tudarmstadt.ukp.inception.search" level="INFO"/>
    <Logger name="de.tudarmstadt.ukp.clarin.webanno.api.dao.DocumentServiceImpl" level="INFO"/>
<!--     <Logger name="de.tudarmstadt.ukp.inception.search.index.mtas.MtasUimaParser" level="TRACE"/> -->
    <Root level="WARN">
      <AppenderRef ref="ConsoleAppender" />
    </Root>
  </Loggers>
</Configuration>
