<!--
  Licensed to the Technische Universität Darmstadt under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The Technische Universität Darmstadt 
  licenses this file to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.
   
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<body>
  <wicket:panel>
    <span wicket:id="read-only" class="badge text-bg-warning">
      <i class="fas fa-eye"></i>
      Read-only
    </span>
    <span wicket:enclosure="user" class="badge border border-secondary text-secondary">
      <i class="fas fa-user"></i>
      <wicket:container wicket:id="user"/>
    </span>
    <span wicket:enclosure="project" class="badge border border-secondary text-secondary">
      <i class="fas fa-archive"></i>
      <wicket:container wicket:id="project"/>
      <wicket:enclosure child="projectId">
        (<wicket:container wicket:id="projectId"/>)
      </wicket:enclosure>
    </span>
    <span wicket:enclosure="document" class="badge border border-secondary text-secondary">
      <i class="fas fa-file"></i>
      <wicket:container wicket:id="document"/>
      <wicket:enclosure child="documentId">
        (<wicket:container wicket:id="documentId"/>)
      </wicket:enclosure>
    </span>
  </wicket:panel>
</body>

</html>