/*
 * Licensed to the Technische Universität Darmstadt under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The Technische Universität Darmstadt 
 * licenses this file to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.
 *  
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

// @import "variables";
@import "../node_modules/@inception-project/inception-support-bootstrap/bootstrap/inception-variables";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

/* style for overall panel structure */
div.flex-25 {
  flex:0 0 25%
}
div.flex-35 {
  flex:0 0 35%;
}
div.flex-50 {
  flex:0 0 50%;
}
div.flex-65 {
  flex:0 0 65%;
}
div.knowledge-base-panel {
  padding:10px;
}
hr.with-margin {
  margin:8px 0;
}
h3.no-margin {
  margin:0;
}

select.list-panel {
  overflow-x: auto;
}


/* Style for AbstractInfoPanel */
$kb-object-headline-large-margin: 0px;

div.kb-object-headline div.kb-object-headline-uilabel-wrapper {
  margin: $kb-object-headline-large-margin 0;
  max-height:6em;  /* roughly three lines */
  overflow-y:auto;
}
div.kb-object-headline div.kb-object-headline-uilabel-wrapper h2 {
  word-break:break-all;
  margin:0;
    
  /* We want the h2 to be as wide as its content so that tooltips appear nicely centered. Regarding the display-table solution, see: https://stackoverflow.com/questions/4566100/css-h1-only-as-wide-as-the-text#comment28638389_4566140 */
  display:table;
  line-height: initial;
}
div.kb-object-headline h5 {
  display:inline;
  margin-top: 5px;
  //color: $gray-light;
  word-break:break-all;
}
div.kb-object-headline hr {
  margin-bottom: 0;
}
div.instances-headline {
  margin-top: $kb-object-headline-large-margin !important;
  margin-bottom:0;
}
div.instances-headline h3 {
  display:inline;
}
div.instances-headline hr {
  margin-top: 5px;
  margin-bottom: 0;
}


/* Statement list/statement editor styles */
label.statement-detail-preference-label {
  font-weight: normal;
}
div.statement-group-list-wrapper {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
}
form.statement-group {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;

  border:1px solid $card-spacer-x;
  background: $card-cap-bg;
}
.statement-group-property {
  display:block;
  padding:10px 5px;
  margin:0;
  word-break:break-all;
}
div.statement-group-statements-list {
//  background: $panel-primary-text;
}
div.statement-group-statement-wrapper:not(:last-child) {
  border-bottom:1px solid $card-spacer-x;
  padding-bottom:10px;
}
div.statement-group-footer {
  background: $card-cap-bg;
  padding:2px 0;
}
div.statement-group-footer > div.statement-editor-button-row {
  /* save/cancel button row when creating new properties */
  padding:0px 10px;
}
div.statement-editor {
  padding:0px 10px;
}
div.statement-editor textarea {
  resize:vertical;
}
div.statement-editor span, div.statement-editor label {
  word-break:break-all;
  margin-bottom:0px;
}
div.statement-editor-button-row ul {
  list-style:none;
  cursor:default;
  margin:5px 0;
  padding-left:5px;
  white-space: nowrap;
}
div.statement-editor-button-row ul li {
  display: inline-block;
  cursor: pointer;
}
/* style for the box shown when there are no statements to display */
div.list-empty-notice {
  display:flex;
  background-color: $card-cap-bg;
  border-radius:5px;
  min-height:20px;
}
div.list-empty-notice > p {
  margin:auto;
  color:gray;
  font-style:italic;
}

a.btn-link {
  background: none;
  border: none;
  text-decoration: none;
  // color: $gray-light;
}

div.qualifier-group-statement-wrapper:not(:last-child) {
  border-bottom: 1px solid $card-spacer-x;
  margin-bottom: 3px;
  padding-bottom: 3px;
}

div.qualifier-editor {
  padding:0px 10px;
}

span.feature-editor-slot-label {
  max-width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tree-theme-windows {
  .tree-label {
    white-space: nowrap;
  }
}