.DS_Store
.settings
.classpath
.project
.factorypath
.checkstyle
target
*/bin
.vscode
*/*.iml
*.iml
.idea
cache
idea/
*.jfr
*.eml
*/*.eml
.gradle
inception/inception-html-editor/src/main/js/annotatorjs/lib
inception/inception-app-webapp/src/main/resources/log4j2-dev.xml
*/.apt_generated/
*/.apt_generated_tests/
dependency-reduced-pom.xml
**/node_modules
**/src/main/ts/package.json
**/src/main/ts/package-lock.json
local/
.asciidoctorconfig.adoc
