@charset 'utf-8';

/* Reset CSS */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;font-size:100%}legend{color:#000}

/* Super Hack to disable autofill style for Chrome. */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.u-mt-10 {margin-top: 10px;}
.u-mt-20 {margin-top: 20px;}
.u-mb-10 {margin-bottom: 10px;}
.u-ml-15 {margin-left: 15px;}
.u-disp-iblock {display: inline-block;}
.no-visible {visibility: hidden;}
.no-action {pointer-events: none;}

/**
 * Viewer size.
 * This height will be override to fit the browser height (by pdfanno.js).
 */
.anno-viewer {
    width: 100%;
    height: 500px;
}

/**
 * Annotation Select UI Layout.
 */
.anno-select-layout {}
.anno-select-layout .row:first-child {
    margin-bottom: 10px;
}
.anno-select-layout [type="radio"] {
    margin-right: 5px;
}
.anno-select-layout [type="file"] {
    display: inline-block;
    margin-left: 5px;
    line-height: 1em;
}
.anno-select-layout .sp-replacer {
    padding: 0;
    border: none;
}
.anno-select-layout .sp-dd {
    display: none;
}

/**
 * Dropdown.
 */
.dropdown-menu {
    overflow: scroll;
}

/**
 * Color picker.
 */
.anno-ui .sp-replacer {
    padding: 0;
    border: none;
}
.anno-ui .sp-dd {
    display: none;
}
.anno-ui .sp-preview {
    margin-right: 0;
}

.js-label-tab-content {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 25em); /* Adjust for HD size(1366x768) */
}

.js-label-tab-content .label-list__text {
    word-break: break-all;
}

.js-label-tab-content .label-list__input {
    width: 100%;
}

.js-label-tab-content .sp-replacer {
    overflow: inherit;
}

.js-export-label.disabled {
    cursor: not-allowed;
}
