<!--
	Copyright 2012
	Ubiquitous Knowledge Processing (UKP) Lab
	Technische Universität Darmstadt

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd 
		 http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<!-- setup wicket application -->
	<bean id="wicketApplication"
		class="de.tudarmstadt.ukp.clarin.webanno.webapp.WicketApplication" />

	<bean id="formats"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="ignoreResourceNotFound">
			<value>true</value>
		</property>
		<property name="locations">
			<list>
				<value>classpath:META-INF/formats.properties</value>
				<value>file:#{systemProperties['webanno.home'] ?: systemProperties['user.home'].concat('/.webanno') }/formats.properties</value>
			</list>
		</property>
	</bean> 
	
	<bean id="helpFile"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="ignoreResourceNotFound">
			<value>true</value>
		</property>
		<property name="locations">
			<list>
				<value>classpath:META-INF/help.properties</value>
				<value>file:#{systemProperties['webanno.home'] ?: systemProperties['user.home'].concat('/.webanno') }/help.properties</value>
			</list>
		</property>
	</bean>		

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="properties">
			<props>
				<prop key="backup.keep.time">0</prop>
				<prop key="backup.interval">0</prop>
				<prop key="backup.keep.number">0</prop>
				<prop key="crowdsource.enabled">0</prop>
			</props>
		</property>
		<property name="locations">
			<list>
				<!-- <value>classpath:META-INF/settings.properties</value> -->
				<value>file:#{systemProperties['webanno.home'] ?: systemProperties['user.home'].concat('/.webanno') }/settings.properties</value>
			</list>
		</property>
	</bean>

	<bean id="annotationService"
		class="de.tudarmstadt.ukp.clarin.webanno.api.dao.AnnotationServiceImpl">
	</bean>

	<bean id="documentRepository"
		class="de.tudarmstadt.ukp.clarin.webanno.api.dao.RepositoryServiceDbData">
		<property name="dir" value="#{systemProperties['webanno.home'] ?: systemProperties['user.home'].concat('/.webanno') }/repository/" />
		<property name="annotationPreferencePropertiesFileName" value="annotation.properties" />
	</bean>

	<bean id="applicationContextProvider"
		class="de.tudarmstadt.ukp.clarin.webanno.model.support.spring.ApplicationContextProvider"></bean>

	<bean id="standaloneShutdownDialog"
		class="de.tudarmstadt.ukp.clarin.webanno.webapp.standalone.StandaloneShutdownDialog"
		lazy-init="false"></bean>

	<bean id="systemPrereqs"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" value="#{@systemProperties}" />
		<property name="targetMethod" value="putAll" />
		<property name="arguments">
			<util:properties>
				<prop key="org.apache.uima.logger.class">org.apache.uima.util.impl.Log4jLogger_impl</prop>
			</util:properties>
		</property>
</bean>
</beans>
