[mysqld]
# Looks like we have problems (at least in tests, possibly generally) with this feature which
# seems to be on by default since MariaDB 11.6.2:
# InceptionMariadb_11_6_IntegrationTest$SpringApplcationContext.testDeletingSourceDocumentWithLearningRecordAttached
# could not execute statement [(conn=4) Record has changed since last read in table 'project'] [delete from project where id=?]
innodb_snapshot_isolation=0
