name: Java CI with Maven

on:
  push:
    branches: [ "main", "release/**" ]
  pull_request:
    branches: [ "main", "release/**" ]
  workflow_dispatch:

permissions:
  contents: read
  checks: write

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        jdk: [17]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
      with:
        # egress-policy: audit
        egress-policy: block
        disable-sudo: true
        allowed-endpoints: >
          api.github.com:443
          archive.ics.uci.edu:80
          auth.docker.io:443
          build.shibboleth.net:443
          centralus.data.mcr.microsoft.com:443
          download.eclipse.org:443
          eastus.data.mcr.microsoft.com:443
          github.com:443
          mcr.microsoft.com:443
          nodejs.org:443
          oss.sonatype.org:443
          production.cloudflare.docker.com:443
          registry-1.docker.io:443
          registry.npmjs.org:443
          repo.maven.apache.org:443
          repo.spring.io:443
          repo1.maven.org:443
          westus.data.mcr.microsoft.com:443
          westus2.data.mcr.microsoft.com:443
          www.ims.uni-stuttgart.de:443
          zoidberg.ukp.informatik.tu-darmstadt.de:443

    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        ref: ${{ github.head_ref || github.ref }}

    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
      with:
        java-version: ${{ matrix.jdk }}
        distribution: 'temurin'
        cache: maven
        server-id: ukp-oss-snapshots
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD

    - name: Set up Maven
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 # v5
      with:
        maven-version: 3.9.9

#    - name: Cache Docker layers
#      uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
#      with:
#        path: /var/lib/docker
#        key: docker-cache-${{ runner.os }}-${{ github.sha }}
#        restore-keys: |
#          docker-cache-${{ runner.os }}-

    - name: Cache DKPro Core Dataset Cache
      uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
      with:
        path: inception/cache
        key: dkpro-dataset-cache-${{ runner.os }}-${{ github.sha }}
        restore-keys: |
          dkpro-dataset-cache-${{ runner.os }}-

    - name: Cache Nodejs
      uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
      with:
        path: inception/nodejs
        key: nodejs-cache-${{ runner.os }}-${{ github.sha }}
        restore-keys: |
          nodejs-cache-${{ runner.os }}-

    - name: Build with Maven
      if: "!(matrix.os == 'ubuntu-latest' && github.event_name == 'push')"
      run: mvn --show-version --batch-mode --errors --fail-at-end --no-transfer-progress clean verify -T 1C

    - name: Build with Maven and publish artifacts
      if: matrix.os == 'ubuntu-latest' && github.event_name == 'push'
      env:
        # `MAVEN_USERNAME` and `MAVEN_PASSWORD` are used in `~/.m2/settings.xml` created by `setup-java` action
        MAVEN_USERNAME: ${{ secrets.UKP_MAVEN_USER }}
        MAVEN_PASSWORD: ${{ secrets.UKP_MAVEN_TOKEN }}
      run: mvn --show-version --batch-mode --errors --fail-at-end --no-transfer-progress -DdeployAtEnd=true -DskipTests clean deploy

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@cf701569b05ccdd861a76b8607a66d76f6fd4857 # v5.5.1
      if: success() || failure() # always run even if the previous step fails
      with:
        report_paths: '**/target/surefire-reports/TEST-*.xml'

    - name: Capture build artifacts
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: build-artifacts
        path: inception/inception-app-webapp/target/inception-app-webapp-*-standalone.jar

    - name: Capture build timeline
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: build-artifacts-${{ matrix.os }}
        path: target/timeline/timeline.html
